version: '3.9'

services:
  app:
    build: .
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    networks:
      - blockchain-net

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespwd
      POSTGRES_DB: postgres
    ports:
      - "5433:5432" # map container 5432 to host 5433 to avoid local conflicts
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - blockchain-net

networks:
  blockchain-net:
    driver: bridge

volumes:
  postgres-data:
    driver: local
